@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(18, 24, 39, 255);
  margin-bottom: 550px;
}

#table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

table {
  background-color: rgba(88, 166, 255, 0.828);
  border-collapse: collapse;
  border: 5px solid rgba(0, 0, 0.952);
  border-radius: 10px;
  font-family: "poppins", cursive;
  font-size: 22px;
  color: white;
  text-align: center;
  box-shadow: 8px 8px 12px black;
  margin-top: 500px;
}

.head {
  font-weight: 700;
  width: 145px;
}

th,
td {
  border: 3px solid black;
  padding: 4px;
  padding-top: 10px;
  padding: 10px;
}

@keyframes slideUp {
  from {
    transform: translateY(250px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 1920px) {
  #table {
    zoom: 1.5;
  }
}